.results {
    display: grid;
    grid-gap: 15px 17px;
    justify-content: center;
}

.results__item {
    background-color: #181818;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
}

.results_width_stats {
    grid-template-columns: repeat(auto-fill, 365px);
}

.results_width_items {
    grid-template-columns: repeat(auto-fill, 275px);
}

@media screen and (max-width: 460px) {
    .results {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

@iterations: 15;
.item-length-loop (@i) when (@i > 0) {
    .results_width_@{i} {
        grid-template-columns: repeat(auto-fill, @i*47px + 20px);
    }

    @media screen and (max-width: @i*47px + 60px) {
        .results {
            grid-template-columns: repeat(auto-fill, 100%);
        }
    }
    .item-length-loop(@i - 1);
}
.item-length-loop (@iterations);