.results {
    display: flex;
    grid-gap: 15px 17px;
    justify-content: center;
    flex-wrap: wrap;
}

.results__item {
    background-color: #181818;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results__item_type_item {
    min-width: 390px;
}

.results__item_type_legendary {
    width: 200px;
}

.results__item_type_vertical-stats {
    justify-content: flex-start;
}
