.section {
    background-color: #070707;
    padding: 14px 17px;
    margin: 20px;
    color: white;
}

@media screen and (max-width: 767px) {
    .section {
        padding: 7px 9px;
        margin: 5px;
    }
}